 img{
    width: 30%;
    float: left;
    margin: 1.66%;
 }
 img{
    height: 550px;
    object-fit: cover;
 }
 p{
    font-family: 'Franklin Gothic Medium';
    margin-left: 1.66%;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 96%;
    padding-bottom: 20px;
 }
 
